#stickyNav {
    display: none;
}

.stickyNav {
    overflow: hidden;
    background-color: white;
    width: 100%;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 2;
    display: block !important;
}

.stickyNavContent {
    width: 70vw;
    margin-left: 15vw;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.invisible {
    display: none;
}