<div id="cookieConsent">
  <div class="cookiebtns">
    <a class="infobutton" onclick="openCookieModal()">More info</a>
    <a class="cookiebutton" onclick="closeCookieConsent()">Accept</a>
    <%= partial 'partials/cookie_modal' %>
  </div>
  This website uses cookies to ensure you get the best experience on our website.
</div>
