
<div id="cookieConsent">
  <div class="cookiebtns">
    <a class="infobutton" onclick="openCookieModal()">Plus d'infos</a>
    <a class="cookiebutton" onclick="closeCookieConsent()">Ok, J'ai compris!</a>
    <%= partial 'partials/cookie_modal' %>
  </div>
Ce message vous parvient en raison de votre accord à l’utilisation des cookies de fonctionnement de notre site.
</div>

<%#= javascript_include_tag "cookie" %>
