---
title: TenderBee | Contact
description: TenderBee vous accompagne dans votre projet de rénovation en estimant le coût, et en vous obtenant des devis auprès d'entrepreneurs fiables.
canonical: https://www.tenderbee.be/contact/
ogtitle: TenderBee | Contact
ogtype: website
ogdescription: TenderBee vous accompagne dans votre projet de rénovation en estimant le coût, et en vous obtenant des devis auprès d'entrepreneurs fiables.
ogurl: https://www.tenderbee.be/contact
ogimage: https://www.tenderbee.be/images/OgImage.jpg
---
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------MAIN IMAGE CONTAINER
<%
=end%>
<div class="contactContainer contactpage">
    <div class="contactAccrocheText">
        <h1 class="whiteText">Contact</h1>
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------FORM CONTAINER
<%
=end%>
<div class="contactFormContainer contactpage">
  <form class="formContact" action="https://tenderbee.us20.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="06a1940baa88833f7fa535ca0">
    <input type="hidden" name="id" value="fd8e20ee67">
    <div class="inputContainer">
        <div class="flexlabels">
            <label class="inputLabel" htmlFor="prénom">Prénom</label>
            <div class="optionalLabel">Optionnel</div>
        </div>
        <input class="formInput" required name="MERGE1" type="text"/>
    </div>
    <div class="inputContainer">
        <div class="flexlabels">
            <label class="inputLabel" htmlFor="nom">Nom</label>
            <div class="optionalLabel">Optionnel</div>

        </div>
        <input class="formInput" required name="MERGE2" type="text"/>
    </div>
    <div class="inputContainer">
        <label class="inputLabel" htmlFor="email">Adresse Mail</label>
        <input class="formInput" required name="MERGE0" type="text"/>
    </div>
    <div class="inputContainer">
    </div>
    <div class="textareaContainer">
        <label class="inputLabel" htmlFor="message">Votre message</label>
        <textarea class="formInputArea" required name="MERGE5"></textarea>
    </div>
    <div></div>
    <div class="formButtonPlacement">
        <button class="buttonMedium">Envoyer</button>
    </div>
  </form>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------MAP CONTAINER
<%
=end%>
<div class="contactMapContainer">
    <div class="contactMapContainerInfo">
        <h2>Où nous trouver?</h2>
        <br>
        <div class="contactInfoFlex">
            <img src="../images/pin.svg" alt="Epingle où nous trouver" class="contactIcons smallIcon">
            <div class="bodyTextRegular">490 Avenue Louise Boite 6, <br>1000 Bruxelles</div>
        </div>
        <div class="contactInfoFlex">
            <img src="../images/email.svg" alt="Email Tenderbee" class="contactIcons">
            <div class="bodyTextRegular">info@tenderbee.be</div>
        </div>
        <div class="contactInfoFlex">
            <img src="../images/phone.svg" alt="Téléphone" class="contactIcons smallIcon">
            <div class="bodyTextRegular">0477/64.93.40</div>
        </div>

    </div>
    <div class="contactMapContainerMap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.7813266689354!2d4.370104315998841!3d50.816690079527575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c4ef4da7ec97%3A0x9fa6b2f0ac036b60!2sAvenue+Louise+490%2C+1000+Bruxelles!5e0!3m2!1sfr!2sbe!4v1559047921746!5m2!1sfr!2sbe" width="600" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<br><br>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------FOOTER CONTAINER
<%
=end%>
<div class="border70vwGray"></div>
<br>
<div class="footerContainer contact">
    <div class="logoAndIcons">
              <div class="logoType grayText">TenderBee.</div>
              <div class="iconContainer">
                <a href="https://www.facebook.com/TenderBeeBE/" style="text-decoration: none;">
                  <div style="font-size: 24px;" class="bodyTextRegular grayText"><i class="fab fa-facebook-square"></i></div>
                </a>
                <a href="https://www.linkedin.com/company/tenderbee/" style="text-decoration: none;">
                  <div style="font-size: 24px;" class="bodyTextRegular grayText"><i class="fab fa-linkedin"></i></div>
                </a>
              </div>
            </div>
            <div class="blogContactBlock">

              <a href="https://blog.tenderbee.be" style="text-decoration: none;">
                <div class="bodyTextRegular grayText">Blog</div>
              </a>
              <a href="/contact" style="text-decoration: none;">
                <div class="bodyTextRegular grayText">Contact</div>
              </a>
              <a href="/conditions" style="text-decoration: none;">
                <div class="bodyTextRegular grayText condibtn">Conditions</div>
              </a>
            </div>
</div>
<br><br>
<%
=begin%>
 ---------------------------------------------------------- SCROLL TO TOP BUTTON
<%
=end%>
<button onclick="topFunction()" id="myScrollTopBtn" title="Go to top">Back to Top</button>

