---
title: TenderBee | Espace Entrepreneurs
description: TenderBee vous met en relation avec des clients souhaitant réaliser des travaux de rénovation dans votre région d'activité.
canonical: https://www.tenderbee.be/Entreprise/
lang: Fr
ogtitle: TenderBee | Espace Entrepreneurs
ogtype: website
ogdescription: TenderBee vous met en relation avec des clients souhaitant réaliser des travaux de rénovation dans votre région d'activité.
ogurl: https://www.tenderbee.be/Entreprise
ogimage: https://www.tenderbee.be/images/OgImage.jpg
---
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------MAIN "CAROUSSEL"
<%
=end%>

<div class="entrepriseContainer">
    <div class="entrepriseAccrocheText">
        <h1 class="whiteText marginBottom60">Accédez à des dizaines d'appels d'offres de clients sérieux.</h1>
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------FORM CONTAINER
<%
=end%>
<div class="entrepriseFormContainer">
  <form class="formEntreprise" action="https://tenderbee.us20.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="06a1940baa88833f7fa535ca0">
    <input type="hidden" name="id" value="696a0146d7">

    <div class="inputContainer">
        <label class="inputLabel" htmlFor="prénom">Prénom</label>
        <input class="formInput" required name="MERGE1" type="text"/>
    </div>
    <div class="inputContainer">
        <label class="inputLabel" htmlFor="nom">Nom</label>
        <input class="formInput" required name="MERGE2" type="text"/>
    </div>
    <div class="inputContainer">
        <label class="inputLabel" htmlFor="email">Adresse Mail</label>
        <input class="formInput" required name="MERGE0" type="text"/>
    </div>
    <div class="inputContainer">
        <div class="flexlabels">
            <label class="inputLabel" htmlFor="téléphone">Téléphone</label>
            <div class="optionalLabel">Optionnel</div>

        </div>
        <input class="formInput" required name="MERGE5" type="text"/>
    </div>
    <div></div>
    <div class="formButtonPlacement">
        <button class="buttonMedium">Inscription</button>
    </div>
  </form>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------EXPLANATION GRID
<%
=end%>
<div class="entrepriseGridContainer">
    <div>
        <div class="entrepriseImageMiniContainer left">
            <div class="entrepriseGridContainerImages photo5"></div>
        </div>
    </div>
    <div>
        <div class="homeTextMiniContainer">
            <h2>Boostez votre entreprise</h2>
            <div class="bodyTextRegular">Grâce à TenderBee, vous accédez gratuitement à des dizaines d'appels d'offres pour des projets de rénovation dans votre région.</div>
        </div>
    </div>
</div>

<div class="entrepriseGridContainer reverse">
    <div>
        <div class="homeTextMiniContainer">
            <h2>Gagnez du temps</h2>
            <div class="bodyTextRegular">Notre méthodologie permet au Maître d’ouvrage de se poser les bonnes questions avant de vous rencontrer. Par conséquent, la demande qui vous est adressée est structurée et comprend toutes les informations nécessaires.</div>
        </div>
    </div>
    <div>
        <div class="entrepriseImageMiniContainer">
            <div class="entrepriseGridContainerImages photo6"></div>
        </div>
    </div>
</div>

<div class="entrepriseGridContainer">
    <div>
        <div class="entrepriseImageMiniContainer left">
            <div class="entrepriseGridContainerImages photo7"></div>
        </div>
    </div>
    <div>
        <div class="homeTextMiniContainer">
            <h2>Entrez en contact avec des clients sérieux</h2>
            <div class="bodyTextRegular">Votre temps est précieux. C’est pourquoi nous avons mis en place cette estimation qui permet de filtrer les Maîtres d’ouvrage conscients du budget à prévoir pour de tels travaux de rénovation.</div>
        </div>
    </div>
</div>

<div class="entrepriseGridContainer reverse">
    <div class="homeTextMiniContainer">
        <h2>Payez uniquement lorsque le devis est accepté</h2>
        <div class="bodyTextRegular">TenderBee prend une commission de 3% sur le devis accepté par le client. Tant que l'offre n'est pas signée, vous ne payez rien.</div>
    </div>
    <div>
        <div class="entrepriseImageMiniContainer">
            <div class="entrepriseGridContainerImages photo8"></div>
        </div>
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------PAGE FOOTER
<%
=end%>
<div class="entreprisefooterContainer2">
    <div class="footerTextContainer">
        <h1 class="darkblueText footerTitleText" style="padding-left: 2vw;">Accédez à des dizaines d'appels d'offre de clients sérieux.</h1>
    </div>
    <br>


    <div class="footerFormContainer">
      <form class="formgrid" action="https://tenderbee.us20.list-manage.com/subscribe/post" method="POST">
      <input type="hidden" name="u" value="06a1940baa88833f7fa535ca0">
      <input type="hidden" name="id" value="696a0146d7">

        <div class="inputContainer">
            <label class="inputLabel" htmlFor="prénom">Prénom</label>
            <input class="formInput" required name="MERGE1" type="text"/>
        </div>
        <div class="inputContainer">
            <label class="inputLabel" htmlFor="nom">Nom</label>
            <input class="formInput" required name="MERGE2" type="text"/>
        </div>
        <div class="inputContainer">
            <label class="inputLabel" htmlFor="email">Adresse Mail</label>
            <input class="formInput" required name="MERGE0" type="text"/>
        </div>
        <div class="inputContainer">
            <div class="flexlabels">
                <label class="inputLabel" htmlFor="téléphone">Téléphone</label>
                <div class="optionalLabel">Optionnel</div>
            </div>
            <input class="formInput" required name="MERGE5" type="text"/>
        </div>
        <div></div>
        <div class="formButtonPlacement">
            <button class="buttonMedium">Inscription</button>
        </div>
      </form>
    </div>
</div>





<div class="footerContainerBlue home">
    <div class="myWidth">
        <div class="border70vwGray"></div>
        <br>
        <div class="footerContainer">
            <div class="logoAndIcons">
              <div class="logoType grayText">TenderBee.</div>
              <div class="iconContainer">
                <a href="https://www.facebook.com/TenderBeeBE/" style="text-decoration: none;">
                  <div style="font-size: 24px;" class="bodyTextRegular grayText"><i class="fab fa-facebook-square"></i></div>
                </a>
                <a href="https://www.linkedin.com/company/tenderbee/" style="text-decoration: none;">
                  <div style="font-size: 24px;" class="bodyTextRegular grayText"><i class="fab fa-linkedin"></i></div>
                </a>
              </div>
            </div>
            <div class="blogContactBlock">

              <a href="https://blog.tenderbee.be" style="text-decoration: none;">
                <div class="bodyTextRegular grayText">Blog</div>
              </a>
              <a href="/contact" style="text-decoration: none;">
                <div class="bodyTextRegular grayText">Contact</div>
              </a>
              <a href="/conditions" style="text-decoration: none;">
                <div class="bodyTextRegular grayText condibtn">Conditions</div>
              </a>
            </div>
        </div>
        <br><br>
    </div>
    <br><br>
  </div>

<%
=begin%>
 ---------------------------------------------------------- SCROLL TO TOP BUTTON
<%
=end%>
<button onclick="topFunction()" id="myScrollTopBtn" title="Go to top">Back to Top</button>
