---
title: TenderBee | Contractors
description: TenderBee connects you to a network of potential clients wishing to renovate their home in your region.
canonical: https://www.tenderbee.be/en/Entreprise/
lang: En
ogtitle: TenderBee | Contractors
ogtype: website
ogdescription: TenderBee connects you to a network of potential clients wishing to renovate their home in your region.
ogurl: https://www.tenderbee.be/en/Entreprise
ogimage: https://www.tenderbee.be/images/OgImageEnglish.jpeg
---
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------MAIN "CAROUSSEL"
<%
=end%>

<div class="entrepriseContainer">
    <div class="entrepriseAccrocheText">
        <h1 class="whiteText marginBottom60">Get a constant stream of serious calls for offers</h1>
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------FORM CONTAINER
<%
=end%>
<div class="entrepriseFormContainer">
  <form class="formEntreprise" action="https://tenderbee.us20.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="06a1940baa88833f7fa535ca0">
    <input type="hidden" name="id" value="696a0146d7">

    <div class="inputContainer">
        <label class="inputLabel" htmlFor="prénom">First name</label>
        <input class="formInput" required name="MERGE1" type="text"/>
    </div>
    <div class="inputContainer">
        <label class="inputLabel" htmlFor="nom">Last name</label>
        <input class="formInput" required name="MERGE2" type="text"/>
    </div>
    <div class="inputContainer">
        <label class="inputLabel" htmlFor="email">Mail</label>
        <input class="formInput" required name="MERGE0" type="text"/>
    </div>
    <div class="inputContainer">
        <div class="flexlabels">
            <label class="inputLabel" htmlFor="téléphone">Phone</label>
            <div class="optionalLabel">Optionnel</div>

        </div>
        <input class="formInput" required name="MERGE5" type="text"/>
    </div>
    <div></div>
    <div class="formButtonPlacement">
        <button class="buttonMedium">Send</button>
    </div>
  </form>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------EXPLANATION GRID
<%
=end%>
<div class="entrepriseGridContainer">
    <div>
        <div class="entrepriseImageMiniContainer left">
            <div class="entrepriseGridContainerImages photo5"></div>
        </div>
    </div>
    <div>
        <div class="homeTextMiniContainer">
            <h2>Boost your business</h2>
            <div class="bodyTextRegular">TenderBee gives you free access to numerous calls for offers for apartment renovation projects in your region.</div>
        </div>
    </div>
</div>

<div class="entrepriseGridContainer reverse">
    <div>
        <div class="homeTextMiniContainer">
            <h2>Save time</h2>
            <div class="bodyTextRegular">Our system puts our clients fully into the picture of tendering for renovation work. They already know what are the right questions to ask before they meet you. So the calls for offer are all well structured and include all the necessary information.</div>
        </div>
    </div>
    <div>
        <div class="entrepriseImageMiniContainer">
            <div class="entrepriseGridContainerImages photo6"></div>
        </div>
    </div>
</div>

<div class="entrepriseGridContainer">
    <div>
        <div class="entrepriseImageMiniContainer left">
            <div class="entrepriseGridContainerImages photo7"></div>
        </div>
    </div>
    <div>
        <div class="homeTextMiniContainer">
            <h2>Get in touch with reliable customers</h2>
            <div class="bodyTextRegular">Your time is precious. That’s why we created this scheme for seeking estimates. It allows us to filter clients, so you are dealing only with clients who are aware of the budget the work they have in mind.</div>
        </div>
    </div>
</div>

<div class="entrepriseGridContainer reverse">
    <div class="homeTextMiniContainer">
        <h2>Pay only when the quote is accepted</h2>
        <div class="bodyTextRegular">TenderBee takes a 3% commission on the quote accepted by the customer. Until the offer is signed, you pay nothing.</div>
    </div>
    <div>
        <div class="entrepriseImageMiniContainer">
            <div class="entrepriseGridContainerImages photo8"></div>
        </div>
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------PAGE FOOTER
<%
=end%>
<div class="entreprisefooterContainer2">
    <div class="footerTextContainer">
        <h1 class="darkblueText footerTitleText" style="padding-left: 2vw;">Get into the loop, and receive a constant stream of calls for offers</h1>
    </div>
    <br>


    <div class="footerFormContainer">
      <form class="formgrid" action="https://tenderbee.us20.list-manage.com/subscribe/post" method="POST">
      <input type="hidden" name="u" value="06a1940baa88833f7fa535ca0">
      <input type="hidden" name="id" value="696a0146d7">

        <div class="inputContainer">
            <label class="inputLabel" htmlFor="prénom">First name</label>
            <input class="formInput" required name="MERGE1" type="text"/>
        </div>
        <div class="inputContainer">
            <label class="inputLabel" htmlFor="nom">Last name</label>
            <input class="formInput" required name="MERGE2" type="text"/>
        </div>
        <div class="inputContainer">
            <label class="inputLabel" htmlFor="email">Mail</label>
            <input class="formInput" required name="MERGE0" type="text"/>
        </div>
        <div class="inputContainer">
            <div class="flexlabels">
                <label class="inputLabel" htmlFor="téléphone">Phone</label>
                <div class="optionalLabel">Optionnel</div>
            </div>
            <input class="formInput" required name="MERGE5" type="text"/>
        </div>
        <div></div>
        <div class="formButtonPlacement">
            <button class="buttonMedium">Send</button>
        </div>
      </form>
    </div>
</div>





<div class="footerContainerBlue home">
    <div class="myWidth">
        <div class="border70vwGray"></div>
        <br>
        <div class="footerContainer">
            <div class="logoAndIcons">
              <div class="logoType grayText">TenderBee.</div>
              <div class="iconContainer">
                <a href="https://www.facebook.com/TenderBeeBE/" style="text-decoration: none;">
                  <div style="font-size: 24px;" class="bodyTextRegular grayText"><i class="fab fa-facebook-square"></i></div>
                </a>
                <a href="https://www.linkedin.com/company/tenderbee/" style="text-decoration: none;">
                  <div style="font-size: 24px;" class="bodyTextRegular grayText"><i class="fab fa-linkedin"></i></div>
                </a>
              </div>
            </div>
            <div class="blogContactBlock">

              <a href="https://blog.tenderbee.be" style="text-decoration: none;">
                <div class="bodyTextRegular grayText">Blog</div>
              </a>
              <a href="/contact" style="text-decoration: none;">
                <div class="bodyTextRegular grayText">Contact</div>
              </a>
              <a href="/conditions" style="text-decoration: none;">
                <div class="bodyTextRegular grayText condibtn">Conditions</div>
              </a>
            </div>
        </div>
        <br><br>
    </div>
    <br><br>
  </div>

<%
=begin%>
 ---------------------------------------------------------- SCROLL TO TOP BUTTON
<%
=end%>
<button onclick="topFunction()" id="myScrollTopBtn" title="Go to top">Back to Top</button>
