---
title: TenderBee | Mes travaux de rénovation
description: TenderBee vous permet d’estimer instantanément et gratuitement le coût de vos travaux de rénovation ainsi que d'obtenir des devis auprès d'entrepreneurs fiables.
canonical: https://www.tenderbee.be
lang: Fr
ogtitle: TenderBee | Mes travaux de rénovation
ogtype: website
ogdescription: TenderBee vous permet d’estimer instantanément et gratuitement le coût de vos travaux de rénovation ainsi que d'obtenir des devis auprès d'entrepreneurs fiables.
ogurl: https://www.tenderbee.be/
ogimage: https://www.tenderbee.be/images/OgImage.jpg
---
<!-- ---
title: TenderBee | Estimer le coût de mes rénovations
description: TenderBee vous permet d’estimer instantanément et gratuitement le coût de vos travaux de rénovation ainsi que de trouver un entrepreneur.
---
 -->
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" %>
<div class="homeBodyContainer">
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------MAIN IMAGE CONTAINER
<%
=end%>
<div class="imageHomeContainer">
    <div class="colorLayerBlue">
        <div class="titleLanding">
          <h1 class="whiteText">Réalisez vos travaux de rénovation en toute sérénité</h1>
        </div>
        <div class="paddingTop">
          <!-- <div class="bodyTextBig whiteText">Je souhaite</div> -->
          <a class="buttonLanding" href="/experience" style="text-decoration: none;">
                  <p>Estimation instantanée</p>
                  <!-- <img src="../images/arrow right.svg" alt="Arrow" class="arrowRemove arrowAnimate"> -->
          </a>
          <a class="buttonLanding" href="/appel-d-offres" style="text-decoration: none;">
                  <p>Obtenir des devis</p>
                  <!-- <img src="../images/arrow right.svg" alt="Arrow" class="arrowRemove arrowAnimate"> -->
          </a>
        </div>
        <!-- <div style="height: 20px;"></div> -->
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------PROCESS CONTAINER
<%
=end%>
<div class="processContainer">

        <div class="processStep">
            <img class="processStepImage" alt="définition des travaux" src="../images/estimation.svg">
            <br><br>
            <div class="bodyTextRegularBold">Estimation instantanée</div>
            <div class="bodyTextRegular noPadding">TenderBee estime gratuitement et instantanément le coût de vos travaux.</div>
        </div>
        <div class="processStep">
            <img class="processStepImage" alt="Estimation des travaux de rénovation" src="../images/definition travaux.svg">
            <br><br>
            <div class="bodyTextRegularBold">Plans et métré</div>
            <div class="bodyTextRegular noPadding">TenderBee peut dessiner vos plans et rédiger le métré descriptif de vos travaux.</div>
        </div>
        <div class="processStep">
            <img class="processStepImage" alt="Devis travaux" src="../images/devis.svg">
            <br><br>
            <div class="bodyTextRegularBold">Réception des devis</div>
            <div class="bodyTextRegular noPadding">Vous recevez un comparatif des différents devis reçus.</div>
        </div>
        <div class="processStep">
            <img class="processStepImage" alt="Hammer icon" src="../images/marteau.svg">
            <br><br>
            <div class="bodyTextRegularBold">C'est parti !</div>
            <div class="bodyTextRegular noPadding">Via notre bon de commande, vos travaux peuvent commencer en toute sérénité.</div>
        </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------EXPLANATION GRID
<%
=end%>
<div class="homeContainer">
    <div>
        <div class="homeImageMiniContainer left">
            <div class="homeContainerImages photo1"></div>
        </div>
    </div>
    <div>
        <div class="homeTextMiniContainer">
            <h2>Estimez gratuitement votre rénovation</h2>
            <div class="bodyTextRegular">TenderBee vous aide à dessiner les contours de votre projet de rénovation via un chat rapide et simple d’utilisation. Grâce à notre outil d'estimation, vous bénéficiez d'une base solide pour analyser les devis d’entrepreneurs.</div>
        </div>
    </div>
</div>

<div class="homeContainer reverse">
    <div>
        <div class="homeTextMiniContainer paddingFixRight">
            <h2>La définition précise des travaux par le métré</h2>
            <div class="bodyTextRegular metre">Le métré dresse un inventaire détaillé de tous les travaux à réaliser. Il sert de cadre à votre appel d’offres et vous permet de comparer chaque devis de façon transparente. TenderBee rédige votre métré contre un prix forfaitaire qui sera déduit du coût de vos travaux si vous faites appel à un entrepreneur de notre réseau. Sur base de celui-ci, vous pouvez également lancer un appel d’offres auprès d’entrepreneurs de votre choix. Quel que soit l’entrepreneur sélectionné, passer par TenderBee pour votre métré vous assure une objectivité totale sur la définition des travaux. <a href="https://blog.tenderbee.be/2019/11/28/le-metre-la-base-dun-bon-devis/">Plus d'infos...</a></div>
        </div>
    </div>
    <div>
        <div class="homeImageMiniContainerRight right">
            <div class="homeContainerImages photo2"></div>
        </div>
    </div>
</div>

<div class="homeContainer">
    <div>
        <div class="homeImageMiniContainer left">
            <div class="homeContainerImages photo3"></div>
        </div>
    </div>
    <div>
        <div class="homeTextMiniContainer">
            <h2>Recevez des offres parfaitement comparables</h2>
            <div class="bodyTextRegular">Chacun des entrepreneurs que nous vous présentons répondent exactement au même métré. Vous recevez dès lors un comparatif précis et simple à évaluer. De plus, vous vous assurez de ne travailler qu’avec des entrepreneurs fiables. En effet, nous rencontrons chacun de ceux-ci personnellement et nous nous assurons qu’ils sont en bonne santé financière et qu’ils disposent bien de tous les accès nécessaires à la profession.</div>
        </div>
    </div>
</div>

<div class="homeContainer reverse">
    <div>
        <div class="homeTextMiniContainer paddingFixRight">
            <h2>Commandez vos travaux en toute sérénité</h2>
            <div class="bodyTextRegular">Pour vous garantir un maximum de sécurité lors de la commande de vos travaux, TenderBee met à votre disposition un bon de commande qui vise à établir un cadre juridique précis pour votre relation avec l’entrepreneur. De plus, notre cahier des charges de performance vous garantit un standard de qualité supérieur pour l’exécution des travaux, et vous permet de diminuer le risque d’imprévus.</div>
        </div>
    </div>
    <div>
        <div class="homeImageMiniContainerRight right">
            <div class="homeContainerImages photo4"></div>
        </div>
    </div>
</div>


<%
=begin%>
  -----------------------------------------------------------------------------------------------------------METHODE D'ESTIMATION
<%
=end%>
<div class="homeContainer2">
    <div class="width40 divcontent">
        <h2 class="whiteText fontSize22">La méthode d'estimation TenderBee.</h2>
        <br>
        <div class="bodyTextSmall whiteText estimationTextFix">Afin d'estimer le budget de vos travaux de rénovation le plus précisément possible, TenderBee s'est basé sur une multitude de projets de rénovation pour constituer une base de données de prix unitaires et de coûts de main d'œuvre. Les questions auxquelles vous répondez dans la description de vos travaux nous permettent d'aller chercher les prix qui correspondent à votre chantier selon plusieurs critères tels que la démolition, la façade, la toiture, les châssis, le chauffage, l’électricité, les luminaires, les salles de bains, la cuisine, les faux-plafonds, la peinture, le revêtement des sols, la porte d’entrée, les portes intérieures.</div>
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------VOUS ETES PRO?
<%
=end%>

<div class="homeContainerPro">
    <div class="homeImageMiniContainerSquare">
        <div class="homeContainerImagesSquare shutterStockMan"></div>
    </div>
    <div class="homeTextMiniContainer">
        <h2>Vous êtes un professionnel?</h2>
        <div class="bodyTextRegular">Rejoignez le réseau TenderBee et développez votre entreprise!</div>
        <br>
        <a href="Entreprise" style="text-decoration: none;">
          <button class="buttonOutline" style="width: 180px">En savoir plus</button>
        </a>
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------PAGE FOOTER
<%
=end%>
<div class="footerContainer2">
    <div class="h2Container">
        <h2 class="darkblueText">Estimez le coût de votre rénovation</h2>
        <div class="bodyTextRegular darkblueText">C'est gratuit et instantané.</div>
    </div>
    <br>
    <a href="/experience" style="text-decoration: none;">
      <button class="buttonBig">
        <p>Lancez votre estimation</p>
        <img src="../images/arrow right.svg" alt="Arrow" class="arrowAnimate">
      </button>
    </a>
</div>

<div class="footerContainerBlue home">
    <div class="myWidth">
        <div class="border70vwGray"></div>
        <br>
        <div class="footerContainer">
            <div class="logoAndIcons">
              <div class="logoType grayText">TenderBee.</div>
              <div class="iconContainer">
                <a href="https://www.facebook.com/TenderBeeBE/" style="text-decoration: none;">
                  <div style="font-size: 24px;" class="bodyTextRegular grayText"><i class="fab fa-facebook-square"></i></div>
                </a>
                <a href="https://www.linkedin.com/company/tenderbee/" style="text-decoration: none;">
                  <div style="font-size: 24px;" class="bodyTextRegular grayText"><i class="fab fa-linkedin"></i></div>
                </a>
              </div>
            </div>
            <div class="blogContactBlock">

              <a href="https://blog.tenderbee.be" style="text-decoration: none;">
                <div class="bodyTextRegular grayText">Blog</div>
              </a>
              <a href="/contact" style="text-decoration: none;">
                <div class="bodyTextRegular grayText">Contact</div>
              </a>
              <a href="/conditions" style="text-decoration: none;">
                <div class="bodyTextRegular grayText condibtn">Conditions</div>
              </a>
            </div>
        </div>
        <br><br>
    </div>
    <br><br>
  </div>
</div>

<%
=begin%>
 ---------------------------------------------------------- SCROLL TO TOP BUTTON
<%
=end%>
<button onclick="topFunction()" id="myScrollTopBtn" title="Go to top">Back to Top</button>
</div>

