---
title: TenderBee | Home
description: TenderBee allows you to get a free and instant estimate for your renovation work and find a contractor.
canonical: https://www.tenderbee.be/en
lang: En
ogtitle: TenderBee | Home
ogtype: website
ogdescription: TenderBee allows you to get a free and instant estimate for your renovation work and find a contractor.
ogurl: https://www.tenderbee.be/en/
ogimage: https://www.tenderbee.be/images/OgImageEnglish.jpeg
---
<!-- ---
title: TenderBee | Estimer le coût de mes rénovations
description: TenderBee vous permet d’estimer instantanément et gratuitement le coût de vos travaux de rénovation ainsi que de trouver un entrepreneur.
---
 -->
<%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" %>
<div class="homeBodyContainer">
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------MAIN IMAGE CONTAINER
<%
=end%>
<div class="imageHomeContainer">
    <div class="colorLayerBlue">
        <div class="titleLanding">
          <h1 class="whiteText">Renovate your home with complete peace of mind</h1>
        </div>
        <div class="paddingTop">
          <div class="bodyTextBig whiteText">I want to</div>
          <a class="buttonLanding" href="/en/experience" style="text-decoration: none;">
                  Get an estimate
                  <!-- <img src="../images/arrow right.svg" alt="Arrow" class="arrowRemove arrowAnimate"> -->
          </a>
          <a class="buttonLanding" href="/en/call-for-offers" style="text-decoration: none;">
                  Get quotes
                  <!-- <img src="../images/arrow right.svg" alt="Arrow" class="arrowRemove arrowAnimate"> -->
          </a>
        </div>
        <!-- <div style="height: 20px;"></div> -->
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------PROCESS CONTAINER
<%
=end%>
<div class="processContainer">

        <div class="processStep">
            <img class="processStepImage" alt="définition des travaux" src="../images/estimation.svg">
            <br><br>
            <div class="bodyTextRegularBold">Instant estimate</div>
            <div class="bodyTextRegular noPadding">TenderBee instantly calculates the cost of your renovation project in Belgium.</div>
        </div>
        <div class="processStep">
            <img class="processStepImage" alt="Estimation des travaux de rénovation" src="../images/definition travaux.svg">
            <br><br>
            <div class="bodyTextRegularBold">Plans & specifications</div>
            <div class="bodyTextRegular noPadding">TenderBee can draw up your plans and specify exactly what work is needed.</div>
        </div>
        <div class="processStep">
            <img class="processStepImage" alt="Devis travaux" src="../images/devis.svg">
            <br><br>
            <div class="bodyTextRegularBold">Quotes</div>
            <div class="bodyTextRegular noPadding">You get a comparative analysis of the quotes from a range of potential contractors.</div>
        </div>
        <div class="processStep">
            <img class="processStepImage" alt="Hammer icon" src="../images/marteau.svg">
            <br><br>
            <div class="bodyTextRegularBold">Let's go !</div>
            <div class="bodyTextRegular noPadding">Our order form allows you to start your renovation work with complete peace of mind.</div>
        </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------EXPLANATION GRID
<%
=end%>
<div class="homeContainer">
    <div>
        <div class="homeImageMiniContainer left">
            <div class="homeContainerImages photo1"></div>
        </div>
    </div>
    <div>
        <div class="homeTextMiniContainer">
            <h2>Free estimate</h2>
            <div class="bodyTextRegular">TenderBee helps you to define your renovation project precisely, with a fast and friendly chat service. Our online estimator tool gives you a clear baseline for analyzing contractors’ estimates.</div>
        </div>
    </div>
</div>

<div class="homeContainer reverse">
    <div>
        <div class="homeTextMiniContainer paddingFixRight">
            <h2>Prepare your project like a professional</h2>
            <div class="bodyTextRegular">We give you the tools to make your renovation project go smoothly from start to finish. A successful renovation project starts with clear plans and detailed specifications of what has to be done. We help you draw up a detailed inventory of all the work to be carried out, including exact figures on the quantity of material needed for each element of the renovation. TenderBee will prepare these documents for you for a fixed fee - and the fee will be deducted from the cost of your renovation if you go ahead with the project.</div>
        </div>
    </div>
    <div>
        <div class="homeImageMiniContainerRight right">
            <div class="homeContainerImages photo2"></div>
        </div>
    </div>
</div>

<div class="homeContainer">
    <div>
        <div class="homeImageMiniContainer left">
            <div class="homeContainerImages photo3"></div>
        </div>
    </div>
    <div>
        <div class="homeTextMiniContainer">
            <h2>Get quotes you can compare</h2>
            <div class="bodyTextRegular">Contractors’ responses will be based on exactly the same specifications, allowing you to make clear comparisons among the offers you receive. What’s more, you can be sure you will be working only with reliable contractors. We meet each of them personally, and satisfy ourselves that they are financially sound and professionally certified.</div>
        </div>
    </div>
</div>

<div class="homeContainer reverse">
    <div>
        <div class="homeTextMiniContainer paddingFixRight">
            <h2>Order in complete serenity</h2>
            <div class="bodyTextRegular">To give you a guarantee of complete security when you order your renovation, TenderBee provides you with an order form designed to establish a clear legal framework between you and the contractor. In addition, our own performance indicators mean you can be sure of high-quality standards for the work, and reduce the risk of unforeseen costs.</div>
        </div>
    </div>
    <div>
        <div class="homeImageMiniContainerRight right">
            <div class="homeContainerImages photo4"></div>
        </div>
    </div>
</div>


<%
=begin%>
  -----------------------------------------------------------------------------------------------------------METHODE D'ESTIMATION
<%
=end%>
<div class="homeContainer2">
    <div class="width40 divcontent">
        <h2 class="whiteText fontSize22">The TenderBee estimation method</h2>
        <br>
        <div class="bodyTextSmall whiteText estimationTextFix">To be able to estimate the budget of your renovation work accurately, TenderBee bases its calculation on a database compiled from unit prices and labour costs in a multitude of renovation projects in Belgium. Whether you envisage demolition, facades, roof, windows, heating and electricity systems, lighting, bathrooms, kitchen, ceilings, painting, floor covering, entrance door, interior doors…, we find the prices that correspond to your wishes.</div>
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------VOUS ETES PRO?
<%
=end%>

<div class="homeContainerPro">
    <div class="homeImageMiniContainerSquare">
        <div class="homeContainerImagesSquare shutterStockMan"></div>
    </div>
    <div class="homeTextMiniContainer">
        <h2>Are you a contractor ?</h2>
        <div class="bodyTextRegular">Join our network and boost your business !</div>
        <br>
        <a href="/en/Entreprise" style="text-decoration: none;">
          <button class="buttonOutline" style="width: 180px">More info</button>
        </a>
    </div>
</div>
<%
=begin%>
  -----------------------------------------------------------------------------------------------------------PAGE FOOTER
<%
=end%>
<div class="footerContainer2">
    <div class="h2Container">
        <h2 class="darkblueText">Get an estimate for your renovation</h2>
        <div class="bodyTextRegular darkblueText">Free. Instant.</div>
    </div>
    <br>
    <a href="/en/experience" style="text-decoration: none;">
      <button class="buttonBig">
        <p>Launch an estimate</p>
        <img src="../images/arrow right.svg" alt="Arrow" class="arrowAnimate">
      </button>
    </a>
</div>

<div class="footerContainerBlue home">
    <div class="myWidth">
        <div class="border70vwGray"></div>
        <br>
        <div class="footerContainer">
            <div class="logoAndIcons">
              <div class="logoType grayText">TenderBee.</div>
              <div class="iconContainer">
                <a href="https://www.facebook.com/TenderBeeBE/" style="text-decoration: none;">
                  <div style="font-size: 24px;" class="bodyTextRegular grayText"><i class="fab fa-facebook-square"></i></div>
                </a>
                <a href="https://www.linkedin.com/company/tenderbee/" style="text-decoration: none;">
                  <div style="font-size: 24px;" class="bodyTextRegular grayText"><i class="fab fa-linkedin"></i></div>
                </a>
              </div>
            </div>
            <div class="blogContactBlock">

              <a href="https://blog.tenderbee.be" style="text-decoration: none;">
                <div class="bodyTextRegular grayText">Blog</div>
              </a>
              <a href="/contact" style="text-decoration: none;">
                <div class="bodyTextRegular grayText">Contact</div>
              </a>
              <a href="/conditions" style="text-decoration: none;">
                <div class="bodyTextRegular grayText condibtn">Conditions</div>
              </a>
            </div>
        </div>
        <br><br>
    </div>
    <br><br>
  </div>
</div>

<%
=begin%>
 ---------------------------------------------------------- SCROLL TO TOP BUTTON
<%
=end%>
<button onclick="topFunction()" id="myScrollTopBtn" title="Go to top">Back to Top</button>
</div>

